@import "parameters/all";

#home-show {
  #splash-content {
    margin-bottom: 0;
    #splash-intro {
      .columns {
        i {
          @media #{$small-only} {
            font-size: 200%;
          }
          @media #{$medium-up} {
            font-size: 250%;
          }
          display: block;

          &#one {
            color: $color-primary-2;
          }
          &#two {
            color: $color-secondary-1-2;
          }
          &#three {
            color: $color-secondary-2-2;
          }
        }
      }
    }
  }
}
