// Place all the styles related to the Project::Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "parameters/all";
$include-html-classes: false;
@import "foundation/components/labels";
@import "foundation/components/forms";

.project-single {
  $primary-border-style: solid 1px #DFDFDF;
  $secondary-border-style: solid 1px #ECECEC;

  @mixin primary-row-style($type:"header") {
    background: scale-color($color-white, $lightness: -5%);
    border-top: $primary-border-style;
    border-bottom: $primary-border-style;
    @media #{$medium-up} {
      border-left: $primary-border-style;
      border-right: $primary-border-style;
      @if $type == "header" {
        border-radius: $radius-regular $radius-regular 0 0;
      } @else if $type == "footer" {
        border-radius: 0 0 $radius-regular $radius-regular;
      }
    }
  }

  word-break: break-word;

  .codename-section {
    @include primary-row-style($type: "header");
    span.value {
      //font-size: large;
    }
  }
  .mission-section {
    @media #{$medium-up} {
      border-left: $secondary-border-style;
      border-right: $secondary-border-style;
    }
    background: scale-color($color-white, $lightness: -2%);
    p.value {
      margin-bottom: 0;
    }
  }
  .member-section {
    @include primary-row-style($type: "footer");
    .value {
      font-size: small;
    }
  }

  .mission-section, .member-section {
    .value {
      color: scale-color($color-black, $lightness: 20%);
    }
  }

  .attribute {
    font-size: x-small;
  }
}

#projects-show {
  #questions {
    .question {
      margin-top: 1rem;
      .question-title {
        color: $color-primary-2;
      }
      .question-detail {
        margin-bottom: 0.5rem;
        .question-body {
          font-size: 90%;
          color: #5C5A5A;
        }
        .question-author {
          
          font-size: small;
          color: #6a6868;
        }
      }
      .answer-body {
        margin-left: 2rem;
        display: inline-block;
      }
    }
  }
  #details {
    #details-markdown {
      h1 {
        font-size: rem-calc(23);
      }
      h2 {
        font-size: rem-calc(18);
      }
      h3 {
        font-size: 1rem;
        font-weight: bold;
      }
    }
  }
}

#projects-edit, #projects-new {
  .selectize-control {
    .selectize-input {
      .item {
        @include label(
        $text-size: 1rem,
        $bg: $color-secondary-1-1,
        $radius: $radius-regular
        );
      }
    }
  }
}