// Place all the styles related to the Project::Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "parameters/all";
@import "foundation/components/labels";

.project-single {
  $primary-border-style: solid 1px #DFDFDF;
  $secondary-border-style: solid 1px #ECECEC;

  @mixin primary-row-style($type:"header") {
    background: scale-color($color-white, $lightness: -5%);
    border-top: $primary-border-style;
    border-bottom: $primary-border-style;
    @media #{$medium-up} {
      border-left: $primary-border-style;
      border-right: $primary-border-style;
      @if $type == "header" {
        border-radius: $radius-regular $radius-regular 0 0;
      } @else if $type == "footer" {
        border-radius: 0 0 $radius-regular $radius-regular;
      }
    }
  }
  .row {
    &:first-child {
      @include primary-row-style($type: "header");
    }
    &:not(:first-child):not(:last-child) {
      @media #{$medium-up} {
        border-left: $secondary-border-style;
        border-right: $secondary-border-style;
      }
      background: scale-color($color-white, $lightness: -2%);
    }
    &:last-child {
      @include primary-row-style($type: "footer");
    }
  }
  .codename-section {
    span.value {
      font-size: large;
    }
  }
  .mission-section, .member-section {
    .value {
      color: scale-color($color-black, $lightness: 20%);
    }
  }
  .mission-section {
    p.value {
      margin-bottom: 0;
    }
  }
  .attribute {
    font-size: x-small;
  }
}

#projects-show {
  #splash-content {
    h2, p, span, div, a {
      color: $color-white !important;
    }
    background-color: $color-primary-1;
    .splash-label {
      margin-right: 2px;
      margin-left: 2px;
      @include label(
      $text-size: 1.2rem,
      $bg: $color-secondary-2-1,
      $radius: $radius-regular
      );
    }
  }
}