.row
  .small-12.columns
    ul.small-block-grid-1.medium-block-grid-3.large-block-grid-5
      - @projects.each do |proj|
        li = render partial: 'project/projects/project', locals: { project: proj }

/h1 My Projects
/
/table
/  thead
/    tr
/      th Codename
/      th Mission
/      th Member
/      th
/      th
/      th
/
/  tbody
/    - @projects.each do |proj|
/      tr
/        td = proj.codename
/        td = proj.mission
/        td = proj.member
/        td = link_to 'Show', proj
/        td = link_to 'Edit', edit_project_project_path(proj)
/        td = link_to 'Destroy', proj, data: {:confirm => 'Are you sure?'}, :method => :delete
/
/br
/
/= link_to 'New Project', new_project_project_path
