@import "parameters/all";

#my-projects-index {
  #splash-content {
    background: transparent asset-url('graphics/splashes/work_desk.jpg') no-repeat;
    background-size: cover;
    background-position: center;
  }
  #projects {
    margin-top: 1rem;
  }
}