@import "compass/css3";
@import "parameters/all";

#my-projects-index {
  #splash-content {
    background: transparent asset-url('graphics/splashes/work_desk.jpg') no-repeat;
    background-size: cover;
    background-position: center;
  }
  #projects {
    .header-row {
      border-bottom: solid 1px $color-secondary-1-1;
      color: $color-secondary-1-1;
      margin-bottom: 1rem;
    }
    .project-row {
      margin-bottom: 1rem;
      .info-row {
        color: scale-color($color-black, $lightness: 20%);
        @media #{$small-only} {
          .codename-row-for-small {
            font-size: large;
            font-weight: bold;
          }
        }
      }
      .action-row {
        @media #{$medium-up} {
          opacity: 0;
          @include transition-property(opacity);
          @include transition-duration(0.2s);
          @include transition-timing-function(ease-in-out);
        }
      }
      @media #{$medium-up} {
        &:hover {
          .action-row {
            opacity: 1;
          }
        }
      }
    }
  }
}