@import "parameters/all";

.top-bar {
  .title-area {
    .name {
      #logo {
        height: 100%;
      }
    }
  }
}

#page-title {
  position: absolute;
  line-height: 45px;
  @media #{$medium-up} {
    font-size: 1.6rem;
  }
  @media #{$small-only} {
    font-size: 1.3rem;
  }
  color: #999999;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 100;
  pointer-events: none;
}