@import "parameters/all";

#splash-content {
  margin-bottom: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  @media #{$small-only} {
    min-height: 160px;
  }
  @media #{$medium-up} {
    min-height: 240px;
  }
}

#projects-show, #questions-new, #questions-edit, #answers-edit {
  #splash-content {
    h2, p, span, div, a {
      color: $color-white !important;
    }
    background-color: $color-primary-1;
    .stats {
      .stat {
        margin: auto 5px;
        display: inline-block;
        .badge {
          font-size: 200%;
          display: block;
        }
        .value {
          display: block;
        }
      }
    }
  }
}