@import "parameters/all";
$include-html-classes: false;
@import "foundation/components/labels";

#projects-dynamic-index {
  margin-top: 2rem;
  @media #{$medium-up} {
    margin-right: auto;
    margin-left: auto;
    .project-single {
      float: left;
      width: 300px;
      padding: 10px 15px;
    }

    #new-project {
      > a {
        width: 100%;
      }
      .row {
        border: solid 1px #DFDFDF;
        background: scale-color($color-white, $lightness: -2%);
        border-radius: $radius-regular;
        i, span {
          font-size: 150%;
          color: scale-color($color-white, $lightness: -25%);
        }
      }
    }
  }
}

.splash-label {
  margin: 5px 2px;
  @include label(
  $text-size: 1.2rem,
  $bg: $color-secondary-1-1,
  $radius: $radius-regular
  );
}